<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="Shop"
        connectionString="
        Data Source=DESKTOP-BIPGND2\MSSQLSERVER_2;
        Initial Catalog = ShopAdo;
        Integrated Security=true;
        
        Connect Timeout=15;"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>